body {
    font-family: Arial, sans-serif;
    background-color: darkcyan;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color:darkblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.651);
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #61dafb;
    color: #333;
}

button:hover {
    background-color: darkcyan;
}

#laps {
    font-size: 24px;
    margin-top: 20px;
}
